{% extends 'base.html.twig' %}

{% block title %} Offerista Demo - Index {% endblock %}

{% block body %}
    <h1>Welcome to the Symfony demo</h1>
    <a href="/posts">
        <button>Display test JSON data</button>
    </a>
{% endblock %}